body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4f4fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:monospace;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10%;
    margin-top: 2%;
}
#ingresar{
    background-color: rgb(102, 141, 135);
    border-radius: 5%;
    color: white;

}
.input{
    text-align: center;
}
